{% extends 'base.html' %}
{% block title %}修改用户名{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS/find_password.css') }}">
{% endblock %}
{% block body %}
    <script src="{{ url_for('static',filename='JS/find_password.js') }}"></script>
	<div class="mainBox">
        <img src='{{ url_for('static',filename='Logo1.png') }}' alt="Logo" id="Logo">
        <form id="forget_password_form">
            <label>
                <h1 style="margin: 0;font-size: 18px">输入邮箱：</h1>
                <input type="email" id="email_input" class="Input">
                <h3 id="EmailLight" class="Light">邮箱提示</h3>

                <h1 style="margin: 0;font-size: 18px">输入验证码：</h1>
                <input type="text" style="width: 160px" id="code_input" class="Input">
                <h3 id="CodeLight" class="Light">验证码提示</h3>

                <h1 style="margin: 0;font-size: 18px">请输入新密码：</h1>
                <input type="password" id="NewPasswordInput" class="Input">
                <h3 id="NewPasswordLight" class="Light">密码提示</h3>

                <h1 style="margin: 0;font-size: 18px">确认新密码：</h1>
                <input type="password" id="ConfirmPasswordInput" class="Input">
                <h3 id="ConfirmPasswordLight" class="Light">确认密码提示</h3>
            </label>
        </form>
        <button type="button" id="send_code_button" onclick="send_code()">获取验证码</button>
        <h3 style="position: absolute;top: 170px;left: 310px;color: #f6f6f6;animation: RightInto 0.3s cubic-bezier(.35,.49,.66,1.37);" id="SendCodeLight">验证码已发<br>送至邮箱</h3>
        <button id="SubmitButton" onclick="submit_find_password()">提 交</button>
    </div>
    <div style="position: absolute;top: 10000px;color: #f6f6f6;font-size: 30px"> 5</div>
    <script>
        const numDots = 300;
    </script>
{% endblock %}